# Learning Python Basics

## Strings

In [1]:
print("Hello DATA WORLD!!!")

Hello DATA WORLD!!!

In [5]:
print("Hello")
print() #Imprime una linea en blanco
print('Hello Again')

Hello

Hello Again

In [6]:
print('Samantha Camacho')

Samantha Camacho

In [28]:
name = 'Samantha Camacho'
print(name)
print(name[-1])
print(name[0:8])
print(name[-7:])

Samantha Camacho
o
Samantha
Camacho

In [32]:
name='Samantha' 
lastname='Camacho'

fullname= name+" "+lastname

print(fullname)

print(type(fullname))

Samantha Camacho
<class 'str'>

In [33]:
my_string = 'Hello'
name = 'Samantha'

print(f"{my_string}, {name}!!")

Hello, Samantha!!

## Numbers

In [37]:
print(1+1)

print(1-1)

print(2*1)

print(5/3)

2
0
2
1.6666666666666667

In [39]:
import math 
math.sqrt(25)

5.0

In [40]:
a=10
b=15

mean = (a+b)/2

print(mean)

12.5

In [41]:
print(5+3*2)

11

In [42]:
my_num = 10
my_num /=2

print(my_num)

5.0

In [43]:
print(round(3.5))

4

In [44]:
my_num = 2
print(my_num ** 3)

8

## Data Types & Data Structures

### LIST

In [1]:
my_list = [1,2,3,4, 3.5, 5.3, 'Hola', 'a', 'b']

my_list

[1, 2, 3, 4, 3.5, 5.3, 'Hola', 'a', 'b']

In [2]:
len(my_list)

9

In [3]:
my_list.append(True)

In [4]:
my_list

[1, 2, 3, 4, 3.5, 5.3, 'Hola', 'a', 'b', True]

In [5]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [8]:
l.append([6,7,8,9])
l

[1, 2, 3, 4, 5, [6, 7, 8, 9], [6, 7, 8, 9]]

In [9]:
l.extend([6,7,8,9])
l

[1, 2, 3, 4, 5, [6, 7, 8, 9], [6, 7, 8, 9], 6, 7, 8, 9]

In [12]:
print(l[6])

[6, 7, 8, 9]

In [15]:
l.remove(l[6])
l

[1, 2, 3, 4, 5, [6, 7, 8, 9], 6, 7, 8, 9]

In [16]:
l.remove(l[5])
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Dictionaries

In [17]:
dict = {'name':'Samantha','surname':'Camacho','age':35}
dict

{'name': 'Samantha', 'surname': 'Camacho', 'age': 35}

In [18]:
dict['name']

'Samantha'

dict['name'] = 'Rafael'
dict

In [20]:
dict['name'] = 'Samantha'
dict

{'name': 'Samantha', 'surname': 'Camacho', 'age': 35}

### Sets

In [21]:
x = set()
x
l = [1,1,2,2,2,3,2,1,4,5,6,7,7,7,6,8]

x = set(l)

x

{1, 2, 3, 4, 5, 6, 7, 8}

### Tuple

In [25]:
# A tuple is a collection which is ordered and unchangeable.

thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

### Exercises

In [26]:
my_list = [1,2,3,4,5]
print(my_list[2])

3

In [28]:
my_tuple = ("apple", "banana", "cherry")
print(type(my_tuple))

<class 'tuple'>

In [29]:
my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [30]:
my_dict = {"name": "John", "age":30, "city":"New York"}
print(my_dict["city"])

New York

In [31]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [34]:
my_dict = {"name": "John", "age":30, "city":"New York"}
for x in my_dict:
    print(x)

name
age
city

## Conditional Statements & LOOPS

* Conditional Statements (IF..ELSE)
* Looping (FOR & WHILE)
* Comprehensions

In [35]:
a = 100
b = 30

if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

100 is greater than 30

In [39]:
a = 100
b = 100

if a > b:
    print(f"{a} is greater than {b}")
elif b > a:
    print(f"{b} is greater than {a}")
else:
    print(f"{a} is equal to {b}")

100 is equal to 100

In [40]:
list_1 = [2,4,5,6,8,7,9,10]
for x in list_1:
    print(x)

2
4
5
6
8
7
9
10

In [42]:
users = ['Sam','Rafa','Luca','Ana','Pablo']

for user in users:
    print(f'User Name: {user}')

User Name: Sam
User Name: Rafa
User Name: Luca
User Name: Ana
User Name: Pablo

In [43]:
x = 11

while x > 10:
    print ('x is currently: ',x,end=' ') #end=' ' to put print below statement on the same line after thsi statement
    print (' x is still less than 10, adding 1 to x')
    x = x - 1 # this adds 1 to x

x is currently:  11  x is still less than 10, adding 1 to x

In [44]:
my_list = [1,2,3,4,5]
for x in my_list:
    print(x)

1
2
3
4
5

In [45]:
i=0
while i < 5:
    print(i)
    i+=1

0
1
2
3
4

In [47]:
x = 5
y = 10
if x > y:
    print("x is greater than y")
else:
    print("x is less than or equal to y")

x is less than or equal to y

In [48]:
age = 18
if age < 18:
    print("You are not old enough to vote.")
elif age == 18:
    print("This is your first time voting!!")
else:
    print("You are old enough to vote.")

This is your first time voting!!

## Modules

In [49]:
import math

math.pow(2,2)

4.0

In [51]:
a = 3
math.sqrt(3)

1.7320508075688772

In [52]:
math.pow(a,2)

9.0

## Exception Handling

In [1]:
my_list = [x for x in range(5)]
print(my_list)

[0, 1, 2, 3, 4]

In [3]:
my_list = [x**2 for x in range(3)]
print(my_list)

[0, 1, 4]

In [4]:
try:
    x = 10 / 0
except:
    print("An error occurred")

An error occurred

In [5]:
try:
    x = 10 / 0
except ZeroDivisionError:
    print("You cannot divide by zero")

You cannot divide by zero

In [6]:
my_dict = {"apple": 1, "banana":2, "cherry":3}
try:
    print(my_dict["orange"])
except KeyError:
    print("The key 'orange' does not exist in the dictionary")

The key 'orange' does not exist in the dictionary