# Learning Python Basics

## Strings

In [1]:
print("Hello DATA WORLD!!!")

Hello DATA WORLD!!!

In [5]:
print("Hello")
print() #Imprime una linea en blanco
print('Hello Again')

Hello

Hello Again

In [6]:
print('Samantha Camacho')

Samantha Camacho

In [28]:
name = 'Samantha Camacho'
print(name)
print(name[-1])
print(name[0:8])
print(name[-7:])

Samantha Camacho
o
Samantha
Camacho

In [32]:
name='Samantha' 
lastname='Camacho'

fullname= name+" "+lastname

print(fullname)

print(type(fullname))

Samantha Camacho
<class 'str'>

In [33]:
my_string = 'Hello'
name = 'Samantha'

print(f"{my_string}, {name}!!")

Hello, Samantha!!

## Numbers

In [37]:
print(1+1)

print(1-1)

print(2*1)

print(5/3)

2
0
2
1.6666666666666667

In [39]:
import math 
math.sqrt(25)

5.0

In [40]:
a=10
b=15

mean = (a+b)/2

print(mean)

12.5

In [41]:
print(5+3*2)

11

In [42]:
my_num = 10
my_num /=2

print(my_num)

5.0

In [43]:
print(round(3.5))

4

In [44]:
my_num = 2
print(my_num ** 3)

8

## Data Types & Data Structures